@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    font-size: 0.5rem;
    width: 100vw;
    background-color: rgb(213, 253, 213);
}

h3{
   width: 100vw;
    background-color: rgb(213, 253, 213);
    color: #000000; 
}


div{
    background-color: rgb(213, 253, 213);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
div img{
    margin-top: 10px;
     width: 300px;
    height: 260px;
    border-radius: 10px;
    border: 1rem solid rgb(85, 2, 44);
}
div h4 {
    margin: 2px 0 3px 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #171d1f;
    font-weight: normal;
    font-size: 1.5rem;
}

div p, span{
    font-size: 1.5rem;
    color: #f61c1c;
}