#overview{
    visibility: hidden;
    transition: all 0.3s ease;
    opacity: 0;
}

.open{
    visibility: visible;
    opacity: 1;
}


.modal-overview {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    justify-content: center;
    align-items: center;
}

.modal-backgroud {
    background-color: #fefae0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    opacity: 0.4;
}

.modal-product {
    z-index: 1;
    display: flex;
    flex-direction: column;
     background-color: #fefae0;
    width: 80%;
    height: 90%;
    border: 2px solid #01310b;
}

#product-container {
    display: flex;
    justify-content:start;
    height: 60%;
    width: 100%;
}

.modal-img {
    width: 60%;
    height: 100%;
    margin: 5px;
    border-radius: 10px;

}

#modal-purchase-value {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 40%;
    height: 50%;
    margin: 30px;
}


.modal-title {
    color: #01310b;
    font-size: 2rem;
    margin: 0 5px 30px 15px;
}

.modal-price {
    color: #ef0101;
    font-size: 1.8rem;
    font-weight: 600;
    font-family: sans-serif;
    margin-left: 15px;
}

.moadal-installment {
    margin-top: 5px;
    font-family: sans-serif;
    margin-left: 15px;
}

#modal-btn {
    background-color: rgb(19, 162, 19);
    height: 40px;
    width: 200px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 15px;
    margin: 30px 0 0 30px;
    cursor: pointer;
}

.product-description {
    display: inline;
    justify-content: center;
    background-color: rgb(243, 246, 249);
    height: 100%;
    margin: 15px;
}
.product-description h4{
    color: #322f2f;
    margin: 15px;
    font-style: oblique;
    font-weight: 200;
}

.product-description li{
    color: #f60303;
    margin: 15px;
    font-weight: 200;
    font-family:  sans-serif;
}